# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of popular Data Science Tools
- Write some examples of arithmetic expressions in Pyhton

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. Julia
4. MySql

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Sience Tools |
|-------------------|
| Google Colab      |
| Jupyter Notebook  |
| RStudio           |
| Tableau           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Faig Tayibov